a {
    color:purple;
}

body {
    background-color:#14213d;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
}

body div.content {
    margin-top: 0px;
}

h2 {
    font-size: 30px;
}

body div div.cookies {
    padding-top: 100px;
}

body div div.welcome {
    padding: 200px 20px;
    animation-name: fadein;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}

body div div.welcome h1 {
    font-size: 60px;
}

body div div.welcome p {
    font-size: 25px;
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translate(0px, 75px)
    }
    70% {
        transform: translate(0px, 0px)
    }
    100% {
        opacity: 1;
    }
}

button {
    border:none;
    font-size: 15px;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.5s;
    border-radius:25px;
}

body div div.parallax h1#thanks{
    font-size: 50px;
    padding: 250px 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

body div.temp div {
    padding: 50px 20px 50px 20px;
    margin-left: auto;
    margin-right: auto;
}

body div.temp div button {
    background-color: #14213d;
    color:#ffffff;
}

body div.temp div button:hover {
    background-color: #000000;
}

body div.temp div.turtles {
    display:flex;
    flex-direction: row;
}

body div.temp div.turtles img {
    /* display: block; */
    margin-left: 20px;
    margin-right: auto;
    image-rendering: auto;
    height: 200px;
}

.main {
    /* margin-top: 43px; */
    /* padding: 200px 20px; */
    /* padding-bottom: 50px; */
    text-align: center;
    color: #ffffff;
    /* margin-left: 8px;
    margin-right: 8px; */
    letter-spacing: 2px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
  }

footer {
    background-color: #14213d;
    /* margin-left: -8px;
    margin-right: -8px; */
    margin-top: -15px;
    margin-bottom: -15px;
}

footer p {
    background-color: #fca311;
    color: #000000;
    font-weight: 900;
    padding:5px;
    text-align: center;
}

.parallax {
    background-image:url("../picture/background.jpeg");
    background-size:cover;
    background-attachment: fixed;
    max-height: 600px;
}

.temp {
    height:500px;
    background:#fca311;
}

@media screen and (max-width: 1100px) {
    body div.temp div.turtles {
        flex-direction: column;
        padding-top: 0px;
    }
    body div.temp div.turtles img {
        margin-left: auto;
    }
    body div.temp div {
        padding-bottom: 0px;
    }
}

@media screen and (min-width: 240px) and (max-width: 850px) {
    /* body div div.welcome h1 {
        font-size: 45px;
    }
    
    body div div.welcome p {
        font-size: 20px;
        padding: 0px 5px;
    } */

    /* body div div.parallax h1#thanks{
        font-size: 40px;
        padding: 250px 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    } */

    .flex-container {
        display: flex;
        flex-direction: column;
    }

    .temp {
        height:750px;
        background:#fca311;
    }

    h2 {
        font-size: 25px;
    }
  
}